body{
    background-color: black;
}
img{
    margin: 50px;
}
.lion1{
margin-left: 900px;
}
.p{
    color: white;
    font-size: 50px;   
}
.p:hover{
    color: white;
    font-size: 70px;   
}
p{
    color: white;
    font-size: 30px;   
}
